{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}

    <div class="table-responsive">
        <h3>Studiengangleiter</h3>
        <ul>
            {% for person in sgl %}
                <li>
                    {# TODO route alias#}
                    <a href="{{'/restricted/sgl/updateUsers/'~person.getDozentenID() }}">{{person}}</a>
                </li>
            {% endfor %}
        </ul>

        <h3>Dozenten</h3>
        <ul>
            {% for person in dozent %}
                <li>
                    {# TODO route alias#}
                    <a href="{{'/restricted/sgl/updateUsers/'~person.getDozentenID() }}">{{person}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}