security:
    encoders:
        blubb:
            algorithm: bcrypt
            cost:      12

    role_hierarchy:
        ROLE_SGL: [ROLE_DOZENT]

    providers:
        users:
            entity: { class: FHBingenMHBBundle:User }

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

#        demo_login:
#            pattern:  ^/demo/secured/login$
#            security: false
#
#        demo_secured_area:
#            pattern:    ^/demo/secured/
#            form_login:
#                check_path: _demo_security_check
#                login_path: _demo_login
#            logout:
#                path:   _demo_logout
#                target: _demo
        login_firewall:
            pattern:   ^/sec/login$
            anonymous: ~
        secured_area:
            #pattern:    ^/
            pattern: ^/sec/restricted/
            form_login:
                login_path: /sec/login
                check_path: /sec/restricted/login_check
            logout:
                path:   /sec/restricted/logout
                target: /sec/

    access_control:
        #- { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY, requires_channel: https }