security:
    encoders:
        pwenc:
            algorithm: bcrypt
            cost:      12

    role_hierarchy:
        ROLE_SGL: [ROLE_DOZENT]

    providers:
        users:
            entity: { class: FHBingenMHBBundle:Dozent }

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login:
            pattern:  ^/restricted/login$
            security: false

        secured_area:
            pattern:    ^/restricted/
            form_login:
                login_path: /login
                check_path: /restricted/login/check
                default_target_path: eigeneModule
            logout:
                path:   /restricted/logout
                target: /login

    access_control:
        #- { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY, requires_channel: https }
        - { path: ^/restricted/sgl/, roles: ROLE_SGL }        # /restricted/sgl/*
        - { path: ^/restricted/sgl$, roles: ROLE_SGL }        # /restricted/sgl
        - { path: ^/restricted/dozent/, roles: ROLE_DOZENT }  # /restricted/dozent/*
        - { path: ^/restricted/dozent$, roles: ROLE_DOZENT }  # /restricted/dozent