{% extends 'FHBingenMHBBundle::layout1.html.twig' %}
{% block content %}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Tabellen-Überschrift</th>
            <th>Tabellen-Überschrift</th>
            <th>Tabellen-Überschrift</th>
            <th>Tabellen-Überschrift</th>
            <th>Tabellen-Überschrift</th>
            <th>Tabellen-Überschrift</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
            <td>Tabellen-Zelle</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}