<!DOCTYPE html>
<html>
<head>
    <title>Deckblatt des Modulhandbuchs für den Studiengang Bachelor Informatik</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        html, body, #coverDiv {
            height: 100%;
        }

        #coverDiv {
            text-align: center;
        }

        #topDiv, #middleDiv, #bottomDiv {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #topDiv, #bottomDiv {
            height: 20%;
        }

        #middleDiv {
            height: 60%;
        }

        span#fachbereich {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div id="coverDiv">
    <div id="topDiv">
        <h1>
            Modulhandbuch<br/>
            Bachelor Informatik (B-IN)
        </h1>
    </div>

    <div id="middleDiv">
        <img src="../../public/images/fh.jpg" alt="FH Logo" width="80%"/>
    </div>

    <div id="bottomDiv">
        <p>
        <span id="fachbereich">
            Fachbereich 2 - Technik, Informatik und Wirtschaft
        </span>
            <br/>
            <br />

            Flexbox-Beispiel (wird leider nicht von wkthmltopdf unterstützt)<br/>

            <br/>
            <br/>

            Studiengangleiter: Prof. Dr. Schmidt<br/>
            Erstellt am 03.07.2015<br/>
            Gültig ab SS14
        </p>
    </div>
</div>
</body>
</html>