{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block content %}
    <table xmlns="http://www.w3.org/1999/html">
        <thead>
        </thead>
        <tbody>
            {% for semesterplan in semesterplanListe %}
            <tr>
                <td>STUFF</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}