{# src/FHBingen/Bundle/MHBBundle/Resources/views/SGL/SGL_main.html.twig #}
{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{% block body %}
    <div>
        Hallo {{ name }}!
        <img src="{{ asset('bundles/fhbingenmhb/images/logo.png') }}" alt="logo" />
    </div>
{% endblock %}