{% if app.user %}
    {% if is_granted('ROLE_SGL') %}
        <li role="presentation" class="active">
            <a href="">Administration</a>
        </li>

        <li role="presentation">
            <a href="{{ path('fhbingen_mhb_verwaltungs_sglshowusers') }}">Benutzerverwaltung</a>
        </li>
    {% endif %}
{% endif %}
