{% if app.user %}
    {% if is_granted('ROLE_SGL') %}
        <li role="presentation" class="active">
            <a>Administration</a>
        </li>
        <li role="presentation">
            <a href="{{ path('benutzerverwaltung') }}">Benutzerverwaltung</a>
        </li>
        <li role="presentation">
            <a href="{{ path('studiengangverwaltung') }}">Studiengangverwaltung</a>
        </li>
    {% endif %}
{% endif %}
