{% if app.user %}
    {% if is_granted('ROLE_DOZENT') %}
        <li role="presentation" class="active">
            <a>Dozent</a>
        </li>
        <li role="presentation">
            <a href="{{ path('eigeneModule') }}">Modulansicht(verwaltbare)</a>
        </li>
        <li role="presentation">
            <a href="#{# {{ path('modulplanung') }} #}">Modulplanung</a>
        </li>
    {% endif %}
{% endif %}
