<nav id="sidebar">
    <ul class="nav list-group nav-pills nav-stacked">
        {% include 'FHBingenMHBBundle:Navigation:dozentNav.html.twig' %}
        {% include 'FHBingenMHBBundle:Navigation:sglNav.html.twig' %}
        {% include 'FHBingenMHBBundle:Navigation:adminNav.html.twig' %}
        {% include 'FHBingenMHBBundle:Navigation:generalNav.html.twig' %}
    </ul>
</nav>