
<li role="presentation" class="active">
    <a href="" >Navigation</a>
</li>
<li role="presentation">
    <a href="">Testpunkt 1</a>
</li>
<li role="presentation">
    <a href="">Testpunkt 2</a>
</li>