<li role="presentation" class="active">
    <a href="" >Dozenten-Navigation</a>
</li>
<li role="presentation">
    <a href="">Modulansicht(verwaltbare)</a>
</li>
<li role="presentation">
    <a href="">Modulplanung</a>
</li>
<li role="presentation">
    <a href="">Benutzerdoku</a>
</li>