{% extends 'FHBingenMHBBundle:Dozent:Dozent_main.html.twig' %}

{#bei Date wird immer |date('Y-m-d') benötigt um als String zu casten#}

{% block content %}

<div class="table-responsive">
    <h3>Modulhandbuch Informatik</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Titel</th>
            <th>MHB ID</th>
            <th>Modul ID</th>
            <th>Name</th>
            <th>Name EN</th>
            <th>Kuerzel</th>
            <th>Code</th>
            <th>Angebotsart</th>
            <th>Haeufigkeit</th>
            <th>Dauer</th>
            <th>Lehrveranstaltungen</th>
            <th>Kontaktzeit VL</th>
            <th>Kontaktzeit Sonstige</th>
            <th>Selbststudium</th>
            <th>Gruppengroesse</th>
            <th>Lernergebnisse</th>
            <th>Inhalte</th>
            <th>Pruefungsformen</th>
            <th>Sprache</th>
            <th>Literatur</th>
            <th>Leistungspunkte</th>
            <th>Voraussetzung LP</th>
            <th>Voraussetzung inh</th>
            <th>Modulbeauftragter</th>
            <th>Erstellungsdatum</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    {% for str in Titel %}
        {% for s in str %}
            <p>{{ s }}</p>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
