{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{#bei Date wird immer |date('Y-m-d') benötigt um als String zu casten#}

{% block content %}

    <div class="table-responsive">
        <h3>Modulhandbücher</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Modulhandbuch</th>
                <th>Gültig ab</th>
                <th>Erstellungsdatum</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for entity in mhb %}
                <tr>
                        <td>{{ entity['Titel'] }}</td>
                        <td>{{ entity['Name'] }}</td>
                        <td>{{ entity['Name_EN'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
