.modul {

}

.modul table {
    border-collapse: collapse;
}

.modul table th, .modul table td {
    border: 1px solid gray;
}

.modul div.key {
    /* Als Basis h4 nach http://www.w3.org/TR/CSS2/sample.html */
    display: block;
    unicode-bidi: embed;
    margin: 0.25em 0;
    font-weight: bolder;
    page-break-after: avoid;
}