body {
    padding-top: 50px;
    margin-top: 75px
    overflow: hidden;
}

#header {
    min-height:75px
}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0 0;
}

#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}

#sidebar-wrapper {
    height: 100%;
    padding: 75px 0 0 0;
    position: fixed;
    border-right: 1px solid gray;
}

#sidebar {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

#sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

/*
@media (max-width: 992px) {
    body {
        padding-top: 0;
    }
}

@media (min-width: 992px) {
    #main-wrapper {
        float: right;
    }
}

@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0;
    }
}

@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        height: auto;
        max-height: 300px;
        border-right: 0;
    }
}
*/

.textAreaClass {
    width: 650px;
    height: 140px;
    border: 3px solid #cccccc;
    padding: 5px;
}

.modulNameClass {
    width: 475px;
}

.modul {

}

.modul table {
    border-collapse: collapse;
}

.modul table th, .modul table td {
    border: 1px solid gray;
    padding: 0 10px;
}

.modul div.key {
    /* Als Basis h4 nach http://www.w3.org/TR/CSS2/sample.html */
    display: block;
    unicode-bidi: embed;
    margin: 0.25em 0;
    font-weight: bolder;
    page-break-after: avoid;
}

div.ourButtons {
    margin-top: 50px;
    margin-bottom: 200px;
}