<li role="presentation" class="active">
    <a href="" >Sidebar Item 1</a>
</li>
<li role="presentation">                    <a href="">Sidebar Item 1</a>

</li>
<li role="presentation">                    <a href="">Sidebar Item 1</a>

</li>