
{% extends 'FHBingenMHBBundle::layout.html.twig' %}

{#
{% block navbar %}
    <li role="presentation" class="active">
        <a href="" >Dozent</a>
    </li>
    <li role="presentation">
        <a href="">Modulansicht(verwaltbare)</a>
    </li>
    <li role="presentation">
        <a href="">Modulplanung</a>
    </li>
    <li role="presentation" class="active">
        <a href="" >Hilfen</a>
    </li>
    <li role="presentation">
        <a href="">Benutzerdoku</a>
    </li>
{% endblock %}
#}
