{% extends 'FHBingenMHBBundle:Dozent:planungBearbeiten.html.twig' %}

{% block formStart %}
    {{ form_start(form) }}
{% endblock formStart %}

{% block beauftragter %}
    {{ form_row(form.beauftragter) }}
{% endblock beaufttragter %}

{% block lehrende %}
     <h4 style="font-weight: bold">Lehrende</h4>
     <ul id="lehrende-fields-list" data-prototype=
     "{% filter escape %}
        {% include 'FHBingenMHBBundle:Prototypes:listItem.html.twig' with { 'items' : form.lehrende.vars.prototype } %}
        {% endfilter %}">

         {% for lehrendeField in form.lehrende %}
             <li>
                 {{ form_errors(lehrendeField) }}
                 {{ form_widget(lehrendeField) }}
                 <a href="#" onclick="jQuery(this).parent().remove()">Lehrenden entfernen</a>
             </li>
         {% endfor %}
     </ul>
     <a id="add-another-lehrende">Lehrenden hinzufügen</a>
{% endblock lehrende %}